@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}
:root{
    
    --three-color:#F0F0F0;
    --colo3-color:#ECE4C0;
    --btnyellow-color:#FFEC91;
    --text-bg-color:#333333;
        --btn-color:#405554;
        --burger-color:#FFF9DC;
    --bg-color:#ffff;
    --item-color:#D6E2D4;
    --item2-color:#E0E1C3;
    --karusel-color:#EDEDED;
    
    --bg-background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
}

/*     SECTION ONE (HEADER+CONTENT) */
.data2{
    

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    margin-top: 7px;
}
.col-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data1{
    /* display: block; */
    width: 60px;
    height: 35px;
    font-weight: 500;
    font-size: 13px;
    line-height: 35px;
    color: #333333;
    /* padding: 8px 17px; */
    background-color: var(--bg-color);
    border-radius: 25px;
}
.data{
    margin-top: 20px;
}
.three__text{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}
.content{
    margin-top: 70px;
}
.three-item{
    padding: 7px 20px;
    background-color: var(--btnyellow-color);
    border-radius: 25px;
    margin-left: 45px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--text-bg-color);
}
.three__title{
    margin: 40px 0 30px;
}
.title-three{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
}
.one__button{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 20px;
}
.button:hover{
    background-color: #7ca9a8;
}
.button{
    transition: all .5s ease;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    display: block;
    width: 80%;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: var(--btn-color);
}
@media screen and (min-width:576px) {
    .one__button{
        justify-content: flex-start;
    }
}
.one__text{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
.text2{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--text-bg-color);
}
.text1{
    text-align: center;
    width: 50px;
    height: 25px;
    margin-right: 11px;
    background:var(--bg-color);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    color: #333333;
}
.first{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-bg-color);
}
.one__title {
    font-weight: 600;
    font-size: 39px;
    line-height: 130%;
    color:var(--text-bg-color);
    margin-bottom: 20px;
}
.nav__item:nth-child(6){
    margin-left: 50px;
}
li:hover.nav__item:nth-child(6){
    /* width: 40px; */
    padding: 5px 8px;
    cursor: pointer;
    /* height: 35px; */
    /* line-height: 35px; */
    text-align: center;
    border-radius: 10px;
    background-color:var(--text-bg-color);
    color: var(--bg-color);
    transition: all .3s ease;
}
li:hover.nav__item:nth-child(7){
    /* width: 40px; */
    padding: 5px 8px;
    cursor: pointer;
    /* height: 35px; */
    /* line-height: 35px; */
    text-align: center;
    border-radius: 10px;
    background-color:var(--text-bg-color);
    color: var(--bg-color);
    transition: all .3s ease;
}
.nav__item:first-child{
    margin: 0;
}
.nav__item:hover{
    color: #000000;
}
.nav__item{
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-bg-color);
    margin-left: 20px;
}
/* .burger::before,
.burger::after{
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    
    width: 100%;
    height: 100%;
    background-color: var(--text-bg-color);
}
.burger::before{
    top: -6px;
}
.burger::after{
    bottom: -6px;
} */
/* .burger__header{
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: var(--burger-color);
    border-radius: 35px;
} */
/* .burger{
    
    color: transparent;
    font-size: 0;
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--text-bg-color);
    position: relative;
    top: 22px;
    left: -2px
} */

.burger__header {
    display:flex;
    justify-content: flex-end;
}

.burger__header  .burger{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: var(--burger-color);
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-size: 2em;
}

/* .burger span {
    display:block;
    width: 50%;
    height:2px;
    margin: 2.5px auto;
    background-color: var(--text-bg-color);
    border-radius: 1px;
} */

.header{
    padding: 40px 0 0;
    height: 70px;
}
.one{
    background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
opacity: 0.81;
}
.item__logo {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: var(--text-bg-color);
}
@media screen and (min-width:576px) {
    .item__logo{
        width: 113px;
        background-color: var(--text-bg-color);
        padding: 8px 20px;
        color: var(--bg-color);
        border-radius: 15px;
    }
}

@media screen and (min-width:1200px) {
    
}
@media screen and (min-width:992px) {
    .five-block {
        display: none;
    }
}


@media screen and (max-width:992px) {
    
    .five-noblock{
        display: none;
    }
    .five-block{
        display: flex;
        justify-content: center;
    }
    
}
@media screen and (min-width:768px){
    .header{
        padding-top: 40px;
    }
    
    
    
}
@media screen and (max-width:576px) {
    .content {
        margin-top: 30px;
    }
    .karusel {
        display: none; 
    }
}

/* SECTION TWO ~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.ourpartners__title{
    font-size: 25px;
    margin-bottom: 30px;
    color: var(--text-bg-color);
}

.ourpartners__inner {
    margin:100px 0 ;
    position:relative;
    row-gap: 15px;
    
}
.ourpartners__pic{
    display: flex;
    height: 70px;
    background-color: var(--colo3-color);
    border-radius: 35px;
    justify-content: center;
    align-items:center;

}

.ourpartners__buttons .karusel {
    cursor: pointer;
    position:absolute;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    /* display: block; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button__prev{
    background-color: var(--karusel-color);
    top: 80px;
    left: -70px;
}
.button__next{
    background: var(--bg-background) ;
    right: -70px;
    top: 80px;
}

/* section three    ~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.three__button{
    width: 75%;
}
.title{
    text-align: center;
}
.three__item{
    display: flex;
    justify-content: center;
}
.items__three{
    display: flex;
    align-items: center;
}
.text-three2{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}

.tabl__work{
    row-gap: 20px;
    padding: 50px 0;
}
.border-non::before{
    content: '';
    border-left: 1.5px solid gray;
    height: 20px;
    width: 2px;
    position: absolute;
    top: -20px;
    left: 17px;
}
.text-three::before{
    content: '';
    
}
.text-three{
    position: relative;
    text-align: center;
    margin-right: 25px;
    width: 35px;
    height: 25px;
    background-color: #D9E6DF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    color: #333333;
}
@media screen and (min-width:576px) {
    
    .border-non::before{
        content: '';
        display: none;
    }
    .title{
        text-align: center;
    }
    .three__item{
        justify-content: center;
    }
    
    .text-three {
        padding: 15px 20px;
        margin-right: 25px;
        display: block;
        font-size: 15px;
        line-height: initial;
        width: 100px;
        height: 48px;
        background-color:var(--colo3-color) ;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
        border-radius: 11px;
        
    }
}
@media screen and (min-width:768px) {
    .title{
        text-align: left;
    }
    .three__button{
        width: 280px;
    }
}
.three{
    background-color: var(--three-color);
}
.title h4{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: var(--text-bg-color);
}

/* section four
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.img__four img{
    transform: translateY(-50px);
}
.four{
    margin: 70px 0;
    text-align: center;
}

.text__four {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #333333;
}

.title__four{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 30px;
    color: var(--text-bg-color);
}
.item__four{
    margin: 10px 0 40px;
    padding: 15px 34px 45px;
    /* height: 80px;  */
    /* width: 150px; */
    background-color: var(--item2-color);
    border-radius: 25px;
}
.item2{
    background-color: #E7E0B7;
}
@media screen and (min-width:768px) {
    .img__four img{
        transform: translateY(0);
    }
}


/* section five 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.five{
    padding: 70px 0;
}
.img__five {
    width: 100%;
}
.five1{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 22px;
}
.five2{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 60px;
}
.five {
    background: var(--bg-background);
}

.title__five h6 {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: var(--text-bg-color);
}
@media screen and (min-width:768px) {
    .title__five h6{
        font-size: 60px;
    }
}
/* section six
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.ourpartners__buttons .six-buttons{
    width: 80px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    line-height: 80px;
    position: absolute;
    top: 150px;
    height: 80px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
}
.six__row{
    flex-direction: column;
    position: relative;
}

.testimonials{
    display:flex;
}
.title__six{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #333333;
}
.six{
    margin: 100px 0;
}
.page__six{
    display: flex;
    
}
.otziv{
    padding: 20px 10px;
    margin: 0 auto;
    background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
    border-radius: 15px;
    
}
.six3{
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #333333;
    padding: 8px 0;
    
}
.six1,.six2{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.six4{
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #333333;
}
.six__block{
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 15px;
    /* height: 323px; */
    background-color: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.368);
    border-radius: 25px;
    margin-bottom: 15px;
}
.item__six{
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 5px;
}
.img__six{
    padding: 20px 20px 15px 10px;
}
@media screen and (min-width:768px) {
    .six__row{
        flex-direction: row;
    }
    .otziv{
        background: #D6E2D4;
    
    }
    .six2{
        font-size: 12px;
    }
}
@media screen and (max-width:768px) {
    .ourpartners__buttons{
        display: none;
    }
}
/*                                     SECTION SEVEN
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.seven{
    background: var(--bg-background);
    padding: 50px 0;
}
.block__img img {
    width: 100%;
}
.title__block h3{
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #333333;
}

.seven__content{
    text-align: center;
    margin-bottom: 25px;
}
@media screen and (min-width:768px) {
    .title__block h3{
        text-align: left;
    }
    .seven__content{
        text-align: left;
    }
}

/*                                  SECTION EIGHT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.eight{
    /* padding: 100px 0; */
    margin: 80px 0 35px;
}

.eight__img{
    text-align: center;
    width: 100%;
}
.wrapper{
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.499);
    border-radius: 25px;
   
}
.eight-button{
    width: 100%;
}
.list__items{
    display: flex;
    flex-direction: column;
    list-style-image: url(img/icon_list/✓.svg);
}
.eight__title{
    margin-bottom: 30px;
}
.list__item{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 20px;
}
.eight-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eight__content{
    padding: 15px 11px;
}
.eight-one{
    background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
    border-radius: 25px;
    
}


@media screen and (min-width:1200px) {
    .list__items{
        gap: 15px;
    }
}
@media screen and (min-width:992px) {
    .eight{
        margin: 100px 0;
    }
}
@media screen and (max-width:768px) {
    .eight__title{
         margin-top: 30px;
    }
}


/*                                SECTION NINE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.nine__main{
    gap: 16px;
}

.other{
    padding: 14px 0 15px 15px;
    background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
    border: 11px solid #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
}

.nine__content:hover{
    background-color: #CBE3E5;
    border: 1px solid rgba(0, 0, 0, 0.404);
}

.nine__content  {
    transition: background-color .5s ease-in-out;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    height: 65px;
     padding: 14px 0px 15px 28px;
    
}
.nine__items{
    position: relative;
}
.nine__items1{
    position: relative;
}
.nine__items1::after{
    content: '';
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 25px;
    width: 15px;
    height: 8px;
    background-image:url(img/icon_list/Expand\ Arrow\ .svg);
    background-repeat: no-repeat;
}
.nine__items::after{
   content:'';
   cursor: pointer;
   display: block;
   position: absolute;
   top: 14px;
   right: 20px;
   width: 15px;
   height: 8px;
   background-image:url(img/icon_list/Expand\ Arrow\ \(Traced\).svg);
   background-repeat: no-repeat;
}
.nine__text{
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #333333;
}
.nine__text2{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}
.nine__text3{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}
.other__block{
    text-align: center;
}
.questions:hover{
    color: rgb(75, 65, 139);
    text-decoration:underline;
}
.questions{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    text-decoration: none;
}




@media screen and (min-width:992px) {
    .nine__items1::after{
        transform: scale(1.6);
    }
    .other__block{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .quest{
        display: none;
    }
}




/*                                              FOOTER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.language__item {
    width: 40px;
    height: 35px;
    padding: 8px 9px;
}
.language__item:hover{
    background-color:  #CBE3E5 ;
    border-radius: 10px;
    color: #333333;
    transition: background .7s linear;
}

.footer a:hover{
    text-decoration: underline;
}

.number__items{
    padding: 0;
}
.number__item{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 5px;
}
.content2__items a{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
}

.nav__item2{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 20px;
}
.footer{
    margin-top: 100px ;
    background: #333333;
    border-radius: 25px 25px 0px 0px;
    padding: 80px 0 45px;
    position: relative;
}
.footer::after{
    content: '';
    position: absolute;
    top: -30px;
    right: 40px;
    display: block;
    background-color: #E7E0B7;
    border-radius: 50%;
    line-height: 30px;
    border: 1px solid #7ca9a8;
    cursor: pointer;
    width: 65px;
    height: 65px;
    background-image: url(img/icon_list/Expand\ Arrow\ .svg);
    background-repeat: no-repeat;
    background-position: center;
}
.footer a{
    text-decoration: none;
    color: #fff;
}

.footer__content2,.footer__content{
    text-align: center;
}

.footer ul {
    list-style-type: none;
}

.logo__footer {
    width: 113px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #333333;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 8px 20px;
}

.logo__footer-items,.footer__language,.footer__nav {
    display: none;
}



@media screen and (min-width:576px) {
    
}
@media screen and (min-width:768px) {
    .logo__footer-items,.footer__language,.footer__nav {
        display: block;
    }
    .footer__content2 {
        margin-top: 60px;
    }
    .footer__content,.footer__content2{
        text-align: start;
    }
}

@media screen and (min-width:992px) {
    .number__item{
        font-size:30px;
    }
    .nav__item2{
        font-size: 15px;
    }
    
}

@media screen and (max-width:576px) {
    .footer__content2{
        flex-direction: column;
    }
}
